@import "styles.css";
@import "form.css";

form {
  padding: 0 var(--spacing-5xl) var(--spacing-xl) var(--spacing-5xl);
  gap: var(--spacing-xl);
  align-items: center;
  width: var(--full-scale);
  max-width: var(--content-width-lg);

  .select_wrapper,
  .search_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: var(--spacing-lg);
    width: var(--full-scale);
  }

  label {
    font-size: var(--font-size-md);
    font-weight: var(--font-semibold);
    margin-bottom: var(--spacing-lg);
  }

  input[type="search"] {
    width: var(--full-scale);
    min-width: var(--width-s);
    min-height: var(--touch-size);
    padding: var(--spacing-md);
    border: var(--border-width-sm) solid transparent;
    border-radius: var(--border-radius-md);
    background: var(--input-bg);
    font-size: var(--font-size-md);
    margin-bottom: var(--spacing-xxl);
  }

  select {
    width: var(--full-scale);
    min-width: var(--width-s);
    min-height: var(--touch-size);
    padding: var(--spacing-md);
    border: var(--border-width-sm) solid transparent;
    border-radius: var(--border-radius-md);
    background: var(--input-bg);
    font-size: var(--font-size-md);
    margin-bottom: var(--spacing-xxl);
  }
}
#adminMenu {
  display: flex;
  gap: var(--spacing-xl);
  margin-bottom: var(--spacing-xxl);
}

#adminMenu button {
  background: none;
  border: none;
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: var(--font-size-md);
  color: var(--dark-text-color);
  cursor: pointer;
  position: relative;
}

#adminMenu button.active {
  color: var(--primary-color);
}
#adminMenu button.active::after {
  content: "";
  position: absolute;
  height: 3px;
  background: var(--primary-color);
  border-radius: var(--border-radius-sm);
}

#adminMenu button:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--primary-color);
  border-radius: var(--border-radius-sm);
}
.loan-history-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--spacing-md);
}

.loan-history-table th,
.loan-history-table td {
  border: var(--border-width-sm) solid var(--quaternary-color);
  padding: var(--spacing-sm) var(--spacing-md);
  text-align: left;
}

.loan-history-table th {
  background: var(--secondary-background-color);
  color: var(--light-text-color);
}
