#backToTop {
  position: fixed;
  bottom: var(--spacing-xxl);
  right: var(--spacing-xxl);
  display: none;
  img{
  background-color: var(--light-text-color);
  border: none;
  cursor: pointer;
  padding: var(--spacing-xs);
  border: var(--border-width-md) solid var(--primary-color);
  border-radius: var(--border-radius-full);
  &:hover {
    background-color: var(--hover-color);
  }
  }
  
}