@import "styles.css";

.book_card {
  display: flex;
  flex-direction: column;
  background: var(--light-background-color);
  border-radius: var(--border-radius-lg);
  box-shadow: 0 var(--shadow-px-sm) var(--shadow-px-lg) rgba(0, 0, 0, var(--opacity-xs));
  overflow: hidden;
  transition: transform var(--trasnition-shorter) ease;
  width: var(--full-scale);
  max-width: var(--width-mdd);

  &:hover {
    transform: scale(var(--scale-sm));
  }

  .book_cover {
    width: var(--full-scale);
    aspect-ratio: var(--aspec-ratio-3) / var(--aspec-ratio-4);
    object-fit: cover;
    background-color: var(--secondary-background-color);
  }

  .book_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--spacing-md);
    flex-grow: var(--flex-grow-1);
  }

  .book_info {
    flex-grow: var(--flex-grow-1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-md);

    .book_title {
      font-size: var(--font-size-lg);
      font-weight: var(--font-bolder);
      text-align: center;
      line-height: var(--book-title-line-height);

      display: -webkit-box;
      -webkit-line-clamp: 2; /* not able to make into a variable */
      -webkit-box-orient: vertical;

      display: box;
      box-orient: vertical;
      line-clamp: 2; /* not able to make into a variable */

      overflow: hidden;
      text-overflow: ellipsis;
      max-height: var(--card-height);
    }

    .book_author,
    .publishing_year,
    .publishing_company {
      font-size: var(--font-size-md);
    }
  }

  .book_card_btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-xxxl);
    margin-top: var(--spacing-sm);
    padding: var(--spacing-md) var(--spacing-sm);

      .loan_btn {
        display: inline-block;
        text-decoration: none;
        padding: var(--touch-target) var(--spacing-lg);
        border-radius: var(--border-radius-md);
        border: var(--border-width-md) solid var(--primary-color);
        color: var(--primary-color);
        font-size: var(--font-size-md);
        transition: all var(--trasnition-shorter) ease;
        background-color: var(--light-background-color);
        cursor: pointer;
        
        &:hover {
          border-color: var(--hover-color);
          background-color: var(--hover-color);
          color: var(--dark-text-color);
        }
      }
      
      .readmore_btn{
        a {
          display: inline-block;
          text-decoration: underline;
          padding: var(--touch-target) var(--spacing-lg);
        color: var(--dark-text-color);
        font-size: var(--font-size-md);
        transition: all var(--trasnition-shorter) ease;
        
        &:hover {
          border-radius: var(--border-radius-md);
          border-color: var(--hover-color);
          background-color: var(--hover-color);
          color: var(--dark-text-color);
        }
      }
      }
  }
}
