@import "styles.css";

main {
  padding: var(--spacing-xl);
  max-width: var(--form-max-width);
  margin-inline: auto;

  h1{
    margin-bottom: var(--spacing-xxxl);
  }

  .field {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    margin-bottom: var(--spacing-md);

    label {
      font-size:var(--font-size-md);
      font-weight:var(--font-semibold);
      margin-bottom: var(--spacing-sm);
    }

    input {
      width: 100%;
      min-height: var(--touch-size);
      padding: var(--spacing-md);
      border: var(--border-width-sm) solid transparent;
      border-radius: var(--border-radius-md);
      background: var(--input-bg);
      font-size: var(--font-size-md);
      margin-bottom: var(--spacing-lg);
    }

    small {
      font-size: var(--font-size-sm);
      color: var(--dark-text-color);
      margin-bottom: var(--spacing-lg);
    }
  }

  .two-col {
    display: flex;
    gap: var(--spacing-md);
    flex-direction: row;

    .field {
      flex: var(--flex-grow-1);
    }
  }

  .checkbox {
    flex-direction: row;
    align-items: center;
    margin-bottom: var(--spacing-lg);

    input {
      width: var(--checkbox-size);
      height: var(--checkbox-size);
    }

    label {
      margin-left: var(--spacing-sm);
      font-size: var(--font-size-sm);
    }
  }

  .btn-primary {
    width: 100%;
    min-height: var(--touch-size);
    padding: var(--spacing-md);
    border: none;
    border-radius: var(--border-radius-md);
    background: var(--primary-color);
    color: var(--light-text-color);
    font-weight: var(--font-bold);
    margin-bottom: var(--spacing-lg);
    text-align: center;
  }

  .login-link, .signup-link {
    font-size: var(--font-size-md);
    text-align: center;
    margin-top: var(--spacing-xl);

    a{
      color:var(--dark-text-color);
    }
  }
}
input:focus,
button:focus {
  outline: var(--border-width-md) solid var(--primary-color);
  outline-offset: var(--border-width-md);
}

fieldset{
  border: none;
}
.btn-danger {
  background-color: var(--error-color);
  color: var(--light-text-color);
  padding: var(--spacing-md) var(--spacing-lg);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
}
