@import "styles.css";

main {

  h1{
      font-size: var(--font-size-xl);
      margin: var(--spacing-xxxl) 0 var(--spacing-xxl);
      text-align: center;
  }

  @media (min-width: 768px) {
    padding: 0 var(--spacing-5xl) var(--spacing-4xl) var(--spacing-5xl);
  }

  @media (min-width: 1024px) {
    max-width: var(--max-main-width);
    margin: auto;
  }

  .field {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    margin-bottom: var(--spacing-md);

    label {
      font-size: var(--font-size-md);
      font-weight: var(--font-semibold);
      margin-bottom: var(--spacing-sm);
    }

    input {
      width: 100%;
      min-height: var(--touch-size);
      padding: var(--spacing-md);
      border: var(--border-width-sm) solid transparent;
      border-radius: var(--border-radius-md);
      background: var(--input-bg);
      font-size: var(--font-size-md);
      margin-bottom: var(--spacing-lg);
    }

    #txtBirthDate {
      cursor: pointer;
    }

    small {
      font-size: var(--font-size-sm);
      color: var(--dark-text-color);
      margin-bottom: var(--spacing-lg);
    }
  }

  .two-col {
    display: flex;
    gap: var(--spacing-md);
    flex-direction: row;

    .field {
      flex: var(--flex-grow-1);
    }
  }

  .checkbox {
    flex-direction: row;
    align-items: center;
    margin-bottom: var(--spacing-lg);

    input {
      width: var(--checkbox-size);
      height: var(--checkbox-size);
    }

    label {
      margin-left: var(--spacing-sm);
      font-size: var(--font-size-sm);
    }
  }

  .btn-primary {
    width: var(--full-scale);
    min-height: var(--touch-size);
    padding: var(--spacing-md);
    border: none;
    border-radius: var(--border-radius-md);
    background: var(--primary-color);
    color: var(--light-text-color);
    font-weight: var(--font-bold);
    margin-bottom: var(--spacing-lg);
    text-align: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      border: var(--border-width-md) solid var(--hover-color);
      background-color: var(--hover-color);
      color: var(--dark-text-color);
    }
  }

  .login-link,
  .signup-link {
    font-size: var(--font-size-md);
    text-align: center;
    margin-top: var(--spacing-xl);

    a {
      color: var(--dark-text-color);
    }
  }
}

input:focus,
button:focus {
  outline: var(--border-width-md) solid var(--primary-color);
  outline-offset: var(--border-width-md);
}

fieldset {
  border: none;
}

.btn-danger {
  width: var(--full-scale);
  justify-content: center;
  margin: var(--spacing-lg) 0;
  color: var(--error-color);
  background-color: var(--light-background-color);
  cursor: pointer;
  padding: var(--spacing-xl) var(--spacing-xxxl);
  border-radius: var(--border-radius-md);
  border: var(--border-width-md) solid var(--error-color);

  &:hover {
    background-color: var(--error-bg);
  }
}

form {
  margin: 0 auto;
  padding: 0 var(--spacing-xxl) var(--spacing-4xl) var(--spacing-xxl);
  max-width: var(--form-max-width);

  @media (min-width: 1024px) {
    margin: auto;
    width: var(--form-max-width);
  }
}

#frmLogin,
#frmSignup {
  h1 {
    margin-bottom: var(--spacing-xxxl);
  }
}
