#hero_home {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--vh-30);
    width: var(--vw-100);
    margin: 0;
    padding: 0;
    background-image: url("../assets/images/abstract-blur-defocused-library-book-store-shop-interior_mob.webp");
    background-size: cover;
    background-position: center;
    padding-bottom: var(--spacing-xl);

    #hero_text {
        background-color: rgba(var(--white-hex), var(--white-hex), var(--white-hex), var(--opacity-md));
        padding: var(--spacing-lg);
        margin: var(--spacing-lg);
        border-radius: var(--border-radius-lg);

        h1 {
            font-size: var(--font-size-xl);
            text-align: center;
            margin-bottom: var(--spacing-lg);
        }

        p {
            font-size: var(--font-size-md);
            text-align: center;
            margin-bottom: var(--spacing-lg);
            max-width: var(--ch-width-sm);
        }
    }

    #signup_btn,
    #profile_btn,
    #admin_btn {
        position: absolute;
        bottom: var(--spacing-minus-xxl);
        cursor: pointer;

        a {
            padding: var(--spacing-xl) var(--spacing-5xl);
            border-radius: var(--border-radius-md);
            border: var(--border-width-md) solid var(--primary-color);
            text-decoration: none;
            background-color: var(--primary-color);
            color: var(--light-text-color);
            line-height: var(--standard-line-height);

            &:hover {
                border: var(--border-width-md) solid var(--hover-color);
                background-color: var(--hover-color);
                color: var(--dark-text-color);
            }
        }
    }
}

@media (min-width: 768px) {
    #hero_home {
        background-image: url("../assets/images/abstract-blur-defocused-library-book-store-shop-interior_desk.jpg");
        height: var(--vh-50);
    }
}