.modal {
  display: none;
  position: fixed;
  z-index: var(--z-index-1000);
  top: 0;
  left: 0;
  width: var(--vw-100);
  height: var(--vh-100);
  background-color: rgba(0, 0, 0, var(--opacity-sm));

  &.show {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal_content {
    background-color: var(--success-bg);
    color: var(--dark-text-color);
    border: var(--border-width-md) solid var(--success-color);
    border-radius: var(--border-radius-lg);
    padding: var(--spacing-xxl) var(--spacing-xxxl);
    margin: 0 0 var(--spacing-xxl) 0;
    max-width: var(--error-width);
    box-shadow: 0 var(--shadow-px-md) var(--shadow-px-lg) rgba(0, 0, 0, var(--opacity-xs));
    text-align: center;
    position: relative;

    .modal_message {
      margin: var(--spacing-4xl) var(--spacing-xxl);
      max-width: var(--ch-width-xs);
    }

    #modal_close_btn {
      position: absolute;
      top: var(--spacing-lg);
      right: var(--spacing-xl);
      background: none;
      border: none;
      cursor: pointer;
      padding: var(--spacing-md);

      img {
        width: var(--social-icon-size);
      }
    }
  }
}