@import 'styles.css';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
        padding: var(--spacing-xl);

        ul {
            list-style: none;

            li {
                margin: 0 var(--spacing-xl);
                color: var(--dark-text-color);

                a {
                    text-decoration: none;
                    color: var(--dark-text-color);
                    font-size: var(--font-size-xl);
                    font-weight: var(--font-semibold);


                    &:hover {
                        color: var(--secondary-color);
                    }
                }
            }
        }
    }
    

    a img{
        width: var(--logo-size);
        padding: var(--spacing-xl);
    }
}

#desktop_menu {
    display: none;
}

#burger_btn,
#side_menu {
    display: block;
}

button {
    all: unset;
    cursor: pointer;
    padding: var(--spacing-lg);
}

#side_menu {
    position: fixed;
    top: 0;
    right: var(--right-side-menu);
    width: var(--width-sm);
    height: var(--full-scale);
    background-color: var(--light-background-color);
    transition: right var(--trasnition-short) ease;

    display: flex;
    flex-direction: column;

    z-index: var(--z-index-1000);

    #close_btn {
        align-self: flex-end;
        margin: var(--spacing-lg);
    }

    ul {
        list-style: none;
        padding: 0;

        a {
            display: flex;
        }

        a:last-child {
            padding: var(--spacing-lg) 0;

        }
    }

    #mobile_utility_not_logged ul,
    #mobile_utility_logged ul {
        display: flex;
        border-bottom: var(--border-width-sm) solid var(--quaternary-color);
        padding-bottom: var(--spacing-lg);
    }

    #mobile_utility_not_logged li,
    #mobile_utility_logged li {
        flex: var(--flex-grow-1);
        text-align: center;
    }

    #mobile_utility_not_logged a,
    #mobile_utility_logged a {
        display: block;
        padding: var(--spacing-lg) 0;
        font-size: var(--font-size-lg);
        font-weight: var(--font-bold);
    }


}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--vw-100);
    height: var(--vh-100);
    backdrop-filter: blur(var(--blur-sm));
    background-color: rgba(0, 0, 0, var(--opacity-sm));
    z-index: calc(var(--z-index-1000) - var(--z-index-1));
    display: none;
}

#side_menu.open {
    right: 0;
}

#side_menu.open~#overlay {
    display: block;
}


@media (min-width: 768px) {
    

    #burger_btn,
    #side_menu {
        display: none;
    }

    #desktop_menu {
        display: flex;
        flex: var(--flex-grow-1);
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-xl);

        #main_nav {
        margin-left: var(--spacing-lg);
    }

        #main_nav,
        #utility_not_logged,
        #utility_logged {
            display: flex;
            justify-content: space-between;
            align-items: center;

            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;


                li {
                    padding: var(--spacing-md) var(--spacing-xl);
                    border-radius: var(--border-radius-md);

                    &:hover {
                        background-color: var(--secondary-color);
                        opacity: var(--opacity-sm);
                    }

                    a {
                        img {
                            width: var(--logo-size);
                            padding: var(--spacing-lg);
                        }

                        &:hover {
                            color: var(--light-text-color);
                        }
                    }
                }
            }
        }
    }

    #utility_not_logged,
    #utility_logged {
        margin-left: auto;
        ul {
            li {
                border: var(--border-width-md) solid var(--primary-color);
            }
        }
    }

    #main_nav ul,
    #utility_not_logged ul,
    #utility_logged ul {
        display: flex;
        gap: var(--spacing-md);
    }

    #overlay {
    display: none !important;
  }
}
