@import "variables.css";
@import "nav.css";
@import "back_to_top.css";
@import "footer.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-background-color);
  color: var(--dark-text-color);
  font-family: poppins, sans-serif;
  min-height: var(--vh-100);


  h1 {
    font-size: var(--font-size-xl);
  }

  .hidden {
    display: none !important;
  }

  p {
    line-height: var(--standard-line-height);
  }

}

#error, #error_related {
  background-color: var(--error-bg);
  color: var(--error-color);
  border: var(--border-width-md) solid var(--error-color);
  border-radius: var(--border-radius-lg);
  padding: var(--spacing-xxl) var(--spacing-xxxl);
  margin: 0 0 var(--spacing-xxl) 0;
  box-shadow: 0 var(--shadow-px-md) var(--shadow-px-lg) rgba(0, 0, 0, var(--opacity-xs));
  box-sizing: border-box;
  max-width: var(--form-max-width);
  text-align: center;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  h3 {
    margin-top: 0;
    font-size: var(--font-size-xl);
    font-weight: bold;
  }

  p {
    margin: var(--spacing-md) 0 0;
    font-size: var(--spacing-xl);
  }
}

#success {
  background-color: var(--success-bg);
  color: var(--success-color);
  border: var(--border-width-md) solid var(--success-color);
  border-radius: var(--border-radius-lg);
  padding: var(--spacing-xxl) var(--spacing-xxxl);
  margin: 0 0 var(--spacing-xxl) 0;
  max-width: var(--error-width);
  box-shadow: 0 var(--shadow-px-md) var(--shadow-px-lg) rgba(0, 0, 0, var(--opacity-xs));

  margin: 0 auto;

  h3 {
    margin-top: 0;
    font-size: var(--font-size-xl);
    font-weight: bold;
  }

  p {
    margin: var(--spacing-md) 0 0;
    font-size: var(--spacing-xl);
  }
}

#modal_close_btn {
  position: absolute;
  top: var(--spacing-lg);
  right: var(--spacing-xl);
  background: none;
  border: none;
  cursor: pointer;
  padding: var(--spacing-md);

  img {
    width: var(--social-icon-size);
  }
}

button,
a,
input[type="checkbox"],
input[type="search"] {
  min-width: var(--new-touch-target);
  min-height: var(--new-touch-target);
  display: inline-flex;
  align-items: center;
  line-height: var(--a-lineheight);

}
[aria-hidden="true"] { display: none; }


.sr-only {
  position: absolute;
  width: var(--scale-mini);
  height: var(--scale-mini);
  padding: 0;
  margin: var(--scale-minus-mini);
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
