@import "variables.css";
@import "nav.css";
@import "back_to_top.css";
@import "footer.css";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--light-background-color);
  color: var(--dark-text-color);
  font-family: poppins, sans-serif;


  h1{
    font-size:var(--font-size-xl);
    margin-bottom:var(--spacing-lg);
  }
  
  .hidden{
    display: none !important;
  }

  p{
    line-height: var(--standard-line-height);
  }

}

#error {
  background-color: var(--error-bg);
  color: var(--error-color);
  border: var(--border-width-md) solid var(--error-color);
  border-radius: var(--border-radius-lg);
  padding: var(--spacing-xxl) var(--spacing-xxxl);
  margin: 0 0 var(--spacing-xxl) 0;
  max-width: var(--error-width);
  box-shadow: 0 var(--shadow-px-md) var(--shadow-px-lg) rgba(0, 0, 0, var(--opacity-xs));
}

#error h3 {
  margin-top: 0;
  font-size: var(--font-size-xl);
  font-weight: bold;
}

#error p {
  margin: var(--spacing-md) 0 0;
  font-size: var(--spacing-xl);
}

#success {
  background-color: var(--success-bg);
  color: var(--success-color);
  border: var(--border-width-md) solid var(--success-color);
  border-radius: var(--border-radius-lg);
  padding: var(--spacing-xxl) var(--spacing-xxxl);
  margin: 0 0 var(--spacing-xxl) 0;
  max-width: var(--error-width);
  box-shadow: 0 var(--shadow-px-md) var(--shadow-px-lg) rgba(0, 0, 0, var(--opacity-xs));
}
#success h3 {
  margin-top: 0;
  font-size: var(--font-size-xl);
  font-weight: bold;
}
#success p {
  margin: var(--spacing-md) 0 0;
  font-size: var(--spacing-xl);
}
