@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..600&display=swap&text=abcdefghijklknoprstuxyABDEFILNRS");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300..600&display=swap");


:root {
    /* Color Palette */
    --primary-color: #0064D0;
    --secondary-color: #493EFF;
    --tertiary-color: #707070;
    --hover-color: #A49FFC;
    --input-bg: #c1e1f1;
    --focus-color:#007bff;
    
    /* error colors */
    --error-bg: #FFE0E0; 
    --error-color: #B00020; 

    /* success colors */
    --success-bg: #E0FFE0;
    --success-color: #00B000;

    --light-background-color: #FFFFFF;
    --secondary-background-color: #2B2B2B;

    --dark-text-color: #2B2B2B; 
    --light-text-color: #FFFFFF; 

    /* Typography */
    --font-head: "Open Sans", sans-serif;
    --font-main:"Inter", sans-serif;

    /* Font Sizes */
    --font-size-sm: clamp(0.75rem, 1vw, 0.875rem);  
    --font-size-md: clamp(0.875rem, 1.2vw, 1rem);   
    --font-size-lg: clamp(1.1rem, 1.3vw, 1.25rem);    
    --font-size-xl: clamp(1.5rem, 2vw, 1.5rem);    
    --font-size-xxl: clamp(1.75rem, 3.5vw, 2.5rem);
    --font-size-header:clamp(1.5rem, 2.5vw, 2rem);    

    /* Font Weight */
    --font-light: 300;
    --font-semibold: 400; 
    --font-bold: 500; 
    --font-bolder: 600;

    /* Line Height */
    --standard-line-height: 1.5rem;
    --book-title-line-height:1.4;
    --a-lineheight:1;

    /* Spacing */
    --spacing-minus-xxl: -2rem;
    --spacing-xs: 0.125rem ;  
    --spacing-sm: 0.25rem ;    
    --spacing-md: 0.5rem ;      
    --spacing-lg: 0.8rem ;      
    --spacing-xl: 1rem ;          
    --spacing-xxl: 1.5rem;       
    --spacing-xxxl: 2rem;       
    --spacing-4xl: 4rem;       
    --spacing-5xl: 5rem;
    --content-width-lg: 1200px;
    --card-height:4.2rem;       

    /* Border Radius */
    --border-radius-sm: 0.25rem;
    --border-radius-md: 0.5rem;     
    --border-radius-lg: 0.75rem;  
    --border-radius-xl: 1rem;  
    --border-radius-full: 100%;

    /* Border width */
    --border-width-sm: 1px;
    --border-width-md: 2px;
    --border-width-lg: 3px;

    /* Image sizes */
    --image-size-sm: 150px;
    --logo-size: 92px;
    --social-icon-size: 30px;

    /* scale */
    --scale-minus-mini:-1px;
    --scale-mini:1px;
    --scale-sm:1.02;
    --full-scale: 100%;
    --width-xs: 150px;
    --width-s: 200px;
    --width-sm: 250px;
    --width-md: 300px;
    --width-mdd: 320px;
    --width-lg: 400px;
    --height-lg: 400px;
    --vh-100: 100vh;
    --vw-100: 100vw;
    --vh-30: 35vh;
    --vh-50: 50vh;
    --vh-50: 60vh;
    --error-width:37.5rem;
    --form-max-width: 34rem;
    --max-main-width: 1100px;
    --card-width: 250px;
    --book-detail-width:800px;

    /* opacity */
    --opacity-xs: 0.1;
    --opacity-sm: 0.5;
    --opacity-md: 0.8;

    /* blur */
    --blur-sm: 5px;

    /* touch, input and checkbox*/ 
    --touch-size:3rem;
    --checkbox-size:1.25rem;
    --touch-target:0.95rem;
    --new-touch-target:48px;

    /* side_menu */
    --right-side-menu:-250px;

    /* z-index */
    --z-index-1: 1;
    --z-index-1000: 1000;

    /* flex-grow */
    --flex-grow-1: 1;


    /* transitions */
    --trasnition-shorter:0.2s;
    --trasnition-short:0.3s;

    /* character width */
    --ch-width-xs: 40ch;
    --ch-width-sm: 60ch;
    --ch-width-md: 80ch;

    /* shadow pixels */
    --shadow-px-sm: 2px;
    --shadow-px-md: 4px;
    --shadow-px-lg: 8px;
    --shadow-px-xxl: 25px;

    /* hex */
    --white-hex:255;

    --aspec-ratio-3:3;
    --aspec-ratio-4:4;

}



